rsa-key-size = 3072
email = admin@example.com
config-dir = ./.workspace/data
work-dir = ./.workspace/data
logs-dir = ./.workspace/data/logs
expand = true
agree-tos = true
test-cert = true # use Let's Encrypt staging servers
dry-run = true # Do the renewal, but don't save any files
non-interactive = true
keep-until-expiring = false
renew-with-new-domains = true
force-renewal = true
preferred-challenges = dns-01
authenticator = dns-rrpproxy
dns-rrpproxy-credentials = ./.workspace/rrpproxy.production.ini
dns-rrpproxy-staging = false # Use RRPProxy's OTE environment (Warning: without actual DNS records, certbot will fail)
dns-rrpproxy-propagation-seconds = 180
domains = example.com, www.example.com
